<div class="dashboard-container">
  <!-- Parte superior -->
  <div class="profits">
    <p>Profits</p>
    <app-profits-analytics></app-profits-analytics>
  </div>

  <div class="losses">
    <p>Losses</p>
    <app-loss-analytics></app-loss-analytics>
  </div>

  <!-- Parte inferior -->
  <div class="orders">
    <p>Orders</p>
    <app-orders-analytics></app-orders-analytics>
  </div>

  <div class="pie">
    <p>Pie Chart</p>
    <app-order-pie-analytics></app-order-pie-analytics>
  </div>
</div>
